          <div class="card mb-4 shadow-sm">
            <img src="img/<%= y['filename'] %>" class="card-img-top"><div class="card-body">
            <%= y['caption'] %>
            <small class="text-muted">ウィキペディア日本語版「<%= y['article'] %>」より
            <a href="<%= y['url'] %>" target="_blank"><i class="fas fa-external-link-alt"></i></a></small></div>
          </div>
